<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet"
        href="/static/css/madlibs.css">
</head>
<body>
    <div>
        <h1 id="titlegif">
            <img src="https://static1.squarespace.com/static/55ba7d9de4b059d8fa972923/55bc4033e4b0331474c071c5/55bc4201e4b07309dc54de6c/1438401029898/1_CarinaLiebmann_Cover.gif"></img>
        </h1>
    </div>
    <div>
        <p id="madlibtext">
            There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
            When {{ name }} went to pick it up, it burst into flames in a totally
            {{ adjective }} way. Then a {{ animal }} flew out the window.
        </p>
    </div> 

</body>
</html>